.Register{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--color-text);
    width: 100%;
    height: 100%;
}

.Register__topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 1rem 4rem;
    box-sizing: border-box;
}

.Register__logo{
    width: 20rem;
    height: auto;
    object-fit: cover;
}

.Register__topBar a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
}

.Register__topBar a:hover{
    text-decoration: underline;
}

.Register__complete{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 14rem 0 0 0 ;
    gap: 3rem 0;
}

.Register__complete img{
    width: 8rem;
    height: auto;
}

.Register__complete p, .Register__complete h1, .Register__complete h2{
    text-align: center;
    color: var(--color-black);
}

.Register__complete p{
    font-size: 1.5rem;
}

.Register__complete h1{
    font-size: 2rem;
    width: 28rem;
}

.Register__complete h2{
    font-size: 2.5rem;
    width: 30rem;
}