.MyList{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.MyList::-webkit-scrollbar{
    display: none;
}

.MyList__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    gap: 2rem 0;
}


.MyList__container h1{
    width: 100%;
    font-size: 3rem;
    padding: 0 0 0 5rem;
    box-sizing: border-box;
    margin: 2rem 0;
}

.MyList__containerFilms{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 2rem;
    padding: 0 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .MyList__containerFilms{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}